
#bootstrap-container > #content{
    min-height: 0 !important;
}
textarea#email_template_editor{
    width:100%;
    font-family: monospace;
    font-size: 11px;
    line-height: 14px;
}

#step1_uploader{
    position:relative;
    top:10px !important;
}